recursive-include tests *.py
recursive-include tests *.md
recursive-include tests *.png
recursive-include tests *.svg
recursive-include tests *.xml
exclude tests/source/emoji.md
exclude tests/target/emoji.xml
