# package requirements
json_strong_typing >= 0.3.9
lxml >= 5.4
types-lxml >= 2025.3.30
markdown >= 3.8
types-markdown >= 3.8
pymdown-extensions >= 10.16
PyYAML >= 6.0
types-PyYAML >= 6.0
requests >= 2.32
types-requests >= 2.32
typing_extensions >= 4.14; python_version<"3.12"

# development environment
mypy >= 1.16
flake8 >= 7.3
markdown_doc >= 0.1.4; python_version>="3.10"
