# package requirements
certifi >= 2025.8.3; python_version<"3.10"
json_strong_typing >= 0.4
lxml >= 6.0
markdown >= 3.9
pymdown-extensions >= 10.16
PyYAML >= 6.0
requests >= 2.32
truststore >= 0.10; python_version>="3.10"
typing-extensions >= 4.15; python_version<"3.12"

# optional package requirements
matplotlib >= 3.9

# development environment
markdown_doc >= 0.1.5; python_version>="3.10"
types-lxml >= 2025.8.25
types-markdown >= 3.9
types-PyYAML >= 6.0
types-requests >= 2.32
mypy >= 1.18
ruff >= 0.12
